<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="30%"/></a></div>
	<h1>Artisti</h1>
	<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	
	<div class="container">
  <div class="col" th:each="artist : ${artists}">
    <div class="card"><a th:href="@{'/artist' + '/' + ${artist.id}}">
      <img th:src="${artist.urlOfPicture}" width="15%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" th:text="${artist.name} + ' ' + ${artist.surname}">Card title</h5>
      </div></a>
    </div>
  </div>
  </div>
	
	
	
</body>

</html>